.inicios{
    background: red;
    text-align: center;
}


.servicios{
    background: yellow;
    text-align: center;
}


.nosotros{
    background: green;
    text-align: center;
}


.contacto{
    background: brown;
    text-align: center;
}


button{
    background: cyan;
    &:hover{
        background: darkorchid;
    }
}

h1{
    font-family: 'Oswald', sans-serif;
}


h2{
    font-family: 'Righteous', cursive;
}