.body {
    background: #c3c3c3;
}

.menu {
    list-style: none;
    padding: 5px 5px;
    max-width: 1024px;
    margin: auto;
}

.menu li{
    display: inline-block;
    padding: 10pk 5px;
}

.menu li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}

.menu li a:hover {
    text-decoration: none;
    color: #000000;
    background-color: #2196F3;
    text-transform: uppercase;
    border-bottom: 2px solid #000000;
}